body {
    margin: 0px;
    overflow-x: hidden;
    background-color: #eee;
    cursor: default;
}
.body, .fill_parent, .body::before, .body::after {
    position: absolute;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
.body::before {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    background-image: url(./../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(6px);
    filter: blur(6px);
    content: "";
    animation: hue_rotate 3s infinite linear;
}
@keyframes hue_rotate {
    0% { filter: hue-rotate(-180deg); }
    100% { filter: hue-rotate(180deg); }
}
.body::after {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.1;
    content: "";
}

/*drawer*/
.drawer {
    position: absolute;
    width: 80%;
    flex-grow: 1;
    left: 5%;
    top: 8%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.drawer::before {
    position: fixed;
    width: 84%;
    height: 90%;
    left: 3%;
    top: 5%;
    background-color: #000;
    opacity: 0.3;
    border-radius: 12px;
    content: '- 'attr(data-sortout-name)' -';
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
}
.drawer>a {
    position: relative;
    z-index: 1;
    /*background-color: #03A9F4;*/
    width: 124px;
    height: 124px;
    line-height: 124px;
    font-size: 100px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    border-radius: 12px;
    color: #000;
    text-decoration: none;
    transform: scale(0.8);
}
.drawer>a>span, .drawer>a>a>span {
    position: absolute;
    left: 1px;
    top: 1px;
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 12px;
    color: #fff;
}
.drawer>a>img, .drawer>a>a>img {
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
    width: 100px;
    height: 100px;
    padding: 12px;
}
.drawer>a:hover::before, .drawer>a:active::before {
    opacity: 0.9;
}
.drawer>a:hover>input, .drawer>a:active>input {
    color: #fff;
}
.drawer>a::before, .drawer>.group>a.repo::before, .drawer>.group>a.group::before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 128px;
    height: 128px;
    background-color: #fff;
    border: solid 1px #999;
    border-radius: 12px;
    opacity: 0.8;
    content: "";
}
.drawer>a>input {
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 130px;
    height: 24px;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    background: none;
    border: none;
    color: #eee;
    text-overflow: ellipsis;
}
.drawer>.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.drawer>.group>a.repo, .drawer>.group>a.group {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 30px;
    text-align: center;
    margin: 3px;
}
.drawer>.group>a.repo::before, .drawer>.group>a.group::before {
    width: 53px;
    height: 53px;
    /*opacity: 0.3;*/
}
.drawer>a>a>span {
    width: 54px;
    height: 54px;
}
.drawer>a>a>img {
    width: 46px;
    height: 46px;
    left: 1px;
    top: 1px;
    padding: 3px;
}

/*toolbar*/
.toolbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;
    flex-shrink: 1;
}
.toolbar>a {
    display: block;
    margin: 30px;
    color: #000;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

/*menu*/
.menu {
    position: absolute;
    z-index: 1;
    background: #fff;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 0 3px 0 #666;
}
.menu>a {
    display: block;
    color: #666;
    text-decoration: none;
}
.menu>a:hover, .menu>a:active {
    color: #000;
}
.menu>a>input{
    padding: 3px;
    border: solid 1px #03A9F4;
}
.menu>a.edit>span, .menu>a>input {
    display: none;
}
.menu>a>span, .menu>a.edit>input {
    display: block;
}
.menu>hr {
    border-color: #eee;
}
.menu>span {
    display: block;
    text-align: right;
    color: #999;
    font-size: 12px;
    /*float: right;*/
}
.menu>a.invalid {
    color: #999;
}

/*function*/
/*.hidden {
    display: none;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s;
}*/
a.invalid {
    color: #666;
    cursor: inherit;
    pointer-events: none;
}